@import './mixins';

.cardBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  
  @include mqBigTablet{
    justify-content: center;
    
  }
}

// Card front
.PokemonCard {
  .cardFront {
    width: 340px;
    background-color: whitesmoke;
    @include mqTinyPhone{
      padding: 10px;
    }
  }
  .cardFace {
    margin: 30px 0;
    border: 2px solid black;
    padding-bottom: 20px;
    .cardHeader{
      background-color: crimson;
      padding: 0 10px;
      color: white;
      margin: 0 auto;
    }
    .frontHeader {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .pokeName {
      text-transform: capitalize;
    }
    .pokeType {
      text-transform: uppercase;
      font-size: 1.5rem;
      color: white;
      margin: 5px 10px;
      padding: 3px;
      margin: 10px;
    }
  }
}

.cardImg {
  width: 280px;
  height: 280px;
  border: 2px solid crimson;
  margin: 20px auto;
  background-color: transparent !important;
  background-image: url(../assets/pokeBG2.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  @include mqTinyPhone{
      width: 220px;
      height: 220px;
    }
  .pokeImg {
    padding: 20px;
    max-width: 100%;
    display: block;
    width: 280px;
    height: 280px;
    @include mqTinyPhone{
      width: 220px;
      height: 220px;
    }
  }
}

.buttonBox {
  margin-top: 20px;
  button {
    display: inline-block;
    background-color: crimson;
    padding: 10px 20px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #fff;
    -webkit-box-shadow: 5px 5px 0 #347474;
    box-shadow: 5px 5px 0 #347474;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    border: none;
    &:hover {
      color: #fff;
      background-color: #62239a;
      -webkit-box-shadow: none;
      box-shadow: none;
      top: 5px;
      left: 5px;
    }
  }
}

// Card back
.cardBack {
 height: 476px;
 width: 340px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  background-image: url(../assets/Abstract-Envelope.svg);
 background-repeat: no-repeat;
 background-size: cover;
  color: white;
  .cardBackHeader {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
  }
  .cardBackBody {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 425px;
  }
}
