.Welcome{
    background-image: linear-gradient(to bottom, rgba(255, 255, 252, 0.4), rgba(255, 158, 93, 0.73)),url(../assets/polaroidEdit.png);

    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .welcomeInfo{
        display: flex;
        height: 95vh;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        margin: 0 auto;
        align-items: center;
        
        p{
            width:100% ;
            margin: 0 auto;
            font-weight: bolder;
            text-shadow: 2px 2px 2px yellow;
        }
         @include mqTablet{
            width: 80%;
        }
        
    }
}

