@import './setup';
@import './mixins';
@import './fonts';
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|IBM+Plex+Mono:400,400i|IBM+Plex+Serif:400,400i&display=swap");
@import './welcome';
@import './card';
@import './nav.scss';


html{
    font-size: 62.5%;
}


    // color: red;
    // background-color: red;
    body {
        background-image: url(../assets/Confetti-Doodles.svg);
        min-height: 100vh;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 3rem;
}

.skipLink:focus {
  left: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
     @include mqTablet{
            width: 95%;
        }
}

footer{
    padding: 10px;
    background-color: white;
}