@import './setup';
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|IBM+Plex+Mono:400,400i|IBM+Plex+Serif:400,400i&display=swap");
@import './fonts';
@import './welcome';
@import './card';


html{
    font-size: 62.5%;
}


    // color: red;
    // background-color: red;
    body {
        background-image: url(../assets/Confetti-Doodles.svg);

}



img{
    max-width: 100%;
}

.wrapper{
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}