@import './mixins.scss';

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
    padding: 0;
    margin: 0;
}

h1{
    font-size: 5rem;
    color: #ffcc00;
    text-shadow: -4px 4px blue;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    @include mqTablet{
            font-size: 4rem;;
        }
        @include mqMedPhone{
            font-size: 3.3rem;
        }
        @include mqSmallPhone{
            font-size: 2.5rem;
        }
}

h2{
    font-size: 3.5rem;
    font-family: 'IBM Plex Mono', serif;
}

h3{
    display: inline-block;
    font-size: 3rem;
}

h3, h4, p, a, button, select {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}

  p {
    font-size: 2rem;
     @include mqTablet{
            font-size: 1.5rem;
        }

        @include mqSmallPhone{
            font-size: 1.3rem;
        }
  }

  select{
      font-size: 2rem;
       @include mqTablet{
            font-size: 1.5rem;
        }
        @include mqSmallPhone{
            font-size: 1.3rem;
        }
  }

