ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
    padding: 0;
    margin: 0;
}

h1{
    font-size: 5rem;
    color: #ffcc00;
    text-shadow: -4px 4px blue;
    font-family: 'Press Start 2P', cursive;
     -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


h3{
    display: inline-block;
    font-size: 3rem;
}

h2, h3, h4, p, a, button {
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
}

  p {
    font-size: 2rem;
  }

